<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>
<div>
    <p><a href="/book/add-comment-book/">Add comment</a></p>
    <ul>
    {% for i in book %}
        <li>
            <h2><a href="/book/{{ i.id }}/">{{ i.title }}</a></h2>
{#            <p>{{ i.description }}</p>#}
{#             <img src="{{ i.image.url }}" alt="">#}
{#            <p>{{ i.created_date }}</p>#}
{#            <p>{{ i.update_date }}</p>#}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>